<!DOCTYPE html>
<html lang="en" dir="ltr">
	<!-- Base template used by the entire site. -->
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Defining the block title with a default value. -->
    <title>{% block title %}iBooks{% endblock %}</title>

		<!-- Include head.html -->
		{% include 'home/head.html' %}

  </head>
  <body>
		<!-- Include header.html -->
    {% include 'home/header.html' %}

		<!-- Defining the content block -->
    {% block content %}
    {% endblock %}

		<!-- Include footer.html -->
		{% include 'home/footer.html' %}
  </body>
</html>
