<!-- This file defines the Home page -->
{% extends 'home/base.html' %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
	<!-- This block defines the content for the Home page(index) -->
	<div class="content-container">
		<!-- Div for Search Bar -->
		<input class="search-bar" type="text" placeholder="Search..">
		<!-- This will be the div for all of the books list. -->
		<div class="books-list">
			<!-- This will be a for-loop to display each book using a template. -->

		</div>
	</div>

{% endblock %}
